@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-custom {
    @apply w-full h-10 px-4 outline-none ring-1 transition ring-neutral-300 focus:ring-4 focus:ring-blue-500 rounded-3xl;
  }
  .button-custom {
    @apply w-full h-10 flex justify-center items-center bg-blue-500 text-white rounded-3xl font-bold hover:bg-blue-400 transition;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
